@import "../../../scss/stylefullpage";

.all-those-fuckin-buttons-to-display {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
  .blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    justify-content: flex-end;
  }

  .block-con-perso,
  .block-remarques {
    .button {
      background-color: $brand-secondary;
    }
  }
  .block-hit-my-con {
    margin-bottom: 15px;
    .button {
      background-color: $black-color;
    }
  }
  .block-cons {
    .button {
      background-color: $brand-button;
    }
  }

  // Généralités sur les boutons
  .button {
    position: relative;
    color: $white-color;
    border-radius: 50%;
    @include breakpoint(smartphone) {
      padding: 8px;
    }
    &:hover {
      cursor: pointer;
    }
    span {
      &:before {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
      }
    }
  }

  // Bouton heartbreak (car path css)
  .except {
    span:first-child {
      &:before {
        display: none;
      }
    }
  }
  // Boutons du haut
  .normalb {
    width: 48px;
    height: 48px;
    span {
      font-size: 1.7em;
    }
    @include breakpoint(smartphone) {
      width: 30px;
      height: 30px;
      span {
        font-size: 1.4em;
      }
    }

  }
  // Big bouton (hit)
  .bigb {
    width: 72px;
    height: 72px;
    span {
      font-size: 3.3em;
    }
    @include breakpoint(smartphone) {
      width: 50px;
      height: 50px;
      span {
        font-size: 2.5em;
      }
    }
  }
  // Boutons du bas
  .bottom {
    width: 36px;
    height: 36px;
    margin-top: 10px;
    span {
      font-size: 1.1em;
    }
    @include breakpoint(smartphone) {
      width: 18px;
      height: 18px;
      span {
        font-size: 1em;
      }
    }
  }
}
