<div class="all-those-fuckin-buttons-to-display">

  <!-- LEFT PART-->
  <div class="block-con-perso blocks" *ngIf="switch === true">
    <div class="button normalb except" (click)="conPersoClick()" title="Ajouter une remarque de mon Con">
      <span class="icon-remark-plus"><span class="path1"></span><span class="path2"></span></span>
    </div>
    <div class="button bottom" (click)="errorConPersoClick()" title="Retirer une remarque de mon Con">
      <span class="icon-moins"></span>
    </div>
  </div>
  <div class="block-remarques blocks" *ngIf="switch === false">
    <div class="button normalb except" (click)="remarqueClick()" title="Ajouter une remarque">
      <span class="icon-remark-plus"><span class="path1"></span><span class="path2"></span></span>
    </div>
    <div class="button bottom" (click)="errorRemarqueClick()" title="Retirer une remarque">
      <span class="icon-moins"></span>
    </div>
  </div>

  <!-- MID PART-->
  <div class="block-hit-my-con blocks">
    <div id="hitmycon" class="button bigb" (click)="hitMyCon()" title="Taper mon Con">
      <span class="icon-hit-con"></span>
    </div>
    <div id="healmycon" class="button bottom" (click)="healMyCon()" title="Soigner mon Con">
      <span class="icon-heal-con"></span>
    </div>
  </div>

  <!-- RIGHT PART-->
  <div class="block-cons blocks">
    <div class="button normalb" (click)="conClick()" title="Ajouter un con">
      <span class="icon-plus-con"></span>
    </div>
    <div class="button bottom" (click)="errorConClick()" title="Retirer un con">
      <span class="icon-moins"></span>
    </div>
  </div>
</div>
