@import "../../scss/stylefullpage";

.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 70px;
  margin-top: 25px;
  @include breakpoint(smartphone) {
    flex-direction: column;
    margin-top: 5px;
    min-height: unset;
  }

  app-conperso, app-remarques, app-cons {
    width: 40%;
    height: 100%;
    border-bottom: 2px solid $brand-secondary;
    @include breakpoint(smartphone) {
      border-bottom: unset;
      width: 100%;
    }
  }

  app-switch {
    height: 100%;
    width: 20%;
    @include breakpoint(smartphone) {
      width: 100%;

    }
  }

  // margins
  app-conperso, app-remarques {
    margin-left: 5rem;
    @include breakpoint(smartphone) {
      margin-left: 0;
      border-top: 2px solid $brand-secondary;

    }
  }
  app-cons {
    margin-right: 5rem;
    @include breakpoint(smartphone) {
      margin-right: 0;
      border-bottom: 2px solid $brand-secondary;
    }
  }
}

app-avatarcon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  .texts {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 1000px;
    transform: translate(-50%);
    left: 50%;
    h2 {
      padding-bottom: 10px;
      text-transform: uppercase;
      font-weight: bold;
      width: 130px;
      text-align: center;
      margin: 0 auto;
      border-bottom: 1px solid $black-color;
    }
    p:nth-child(2) {
      margin-top: 10px;
    }
    p {
      margin: 0;
    }
  }

  .waves {
    background-color: $brand-primary;
    height: 230px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 50%;
  }
  .wave-left {
    border-radius: 100% 0% 100% 0% / 65% 100% 0% 0%;
    left: 0;
  }
  .wave-right {
    border-radius: 0% 100% 100% 0% / 0% 65% 0% 100%;
    right: 0;
  }
  @include breakpoint(smartphone) {
    position: absolute;
    .texts {
      font-size: 0.8em;
      bottom: 2px;
      width: 100%;
    }
  }

}
