@import "../../scss/stylefullpage";

.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  margin-top: 25px;

  app-conperso, app-remarques, app-cons {
    width: 40%;
    height: 100%;
    border-bottom: 2px solid $brand-secondary;
  }

  app-switch {
    height: 100%;
    width: 20%;
  }

  // margins
  app-conperso, app-remarques {
    margin-left: 5rem;
  }
  app-cons {
    margin-right: 5rem;
  }
}

.avatar-con {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%
}

.arrow-pannel-show {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 2em;
  &:hover {
    cursor: pointer;
  }
}

#menu {
  display: none;
  position: absolute;
  right: -400px;
  top: 50%;
  transition: 2s ease-in all 2s;
  .icon-close {
    &:hover {
      cursor: pointer;
    }
  }
  .logout {
  }
}

#menu.extend-menu {
  display: block;
  right: 0 !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
