<!--<img src="{{ user.photoURL }}" alt="" width="75px"><br>-->

<div class="header">
  <app-conperso *ngIf="switch === true"></app-conperso>
  <app-remarques *ngIf="switch === false"></app-remarques>
  <app-switch (switchEmitter)="emitter($event)"></app-switch>
  <app-cons></app-cons>
</div>

<app-avatarcon></app-avatarcon>

<app-menu></app-menu>

<div class="admin" *ngIf="devMode">
  Console Admin Morgan
  <button (click)="resetUsers()">Reset users</button>
  <br>
  <button (click)="resetConPerso()">Reset con perso</button>
</div>

<div class="footer">
  <app-buttons [(switch)]="switch"></app-buttons>
  <div class="texts">
    <h2>Con'teur</h2>
    <p>La vie n'est pas un long fleuve tranquille...</p>
    <p>Un con peu surgir et changer une journée paisible et ensoleillée en un jour à chier, couvert par un temps gris...
      CON'TEUR vous permettra donc de cliquer tout à chaque remarques que fera un con à côté de vous.
    </p>
    <p>Le compteur de clic vous aidera à relativiser sur votre propre statut de con, et ainsi, vous sentir mieux, car ne
      l'oublions pas, nous sommes tous le con de quelqu'un ...
    </p>
  </div>
  <div class="fuckin-waves-bro">
    <div class="waves wave-left"></div>
    <div class="waves wave-right"></div>
  </div>
</div>
