<!--<img src="{{ user.photoURL }}" alt="" width="75px"><br>-->

<div class="header">
  <app-conperso *ngIf="switch === true"></app-conperso>
  <app-remarques *ngIf="switch === false"></app-remarques>
  <app-switch (switchEmitter)="emitter($event)"></app-switch>
  <app-cons></app-cons>
</div>

<div class="avatar-con">
  <img src="../../assets/images/avatar_con.svg" width="250px" alt="">
</div>

<div class="panel-hide">
  <button class='logout' (click)="logout()">Logout</button>
</div>


<div class="footer">
  <app-buttons [(switch)]="switch"></app-buttons>
</div>
