@import "../../scss/stylefullpage";

.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 70px;
  margin-top: 25px;

  app-conperso, app-remarques, app-cons {
    width: 40%;
    height: 100%;
    border-bottom: 2px solid $brand-secondary;
  }

  app-switch {
    height: 100%;
    width: 20%;
  }

  // margins
  app-conperso, app-remarques {
    margin-left: 5rem;
  }
  app-cons {
    margin-right: 5rem;
  }
}

.avatar-con {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%
}

.arrow-pannel-show {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 2em;
  &:hover {
    cursor: pointer;
  }
}

#menu {
  position: absolute;
  width: 250px;
  top: 50%;
  right: 0;
  transform: translate(500px);
  transition: all .5s;
  visibility: hidden;
  .icon-close {
    position: absolute;
    right: 3px;
    top: 3px;
    color: $brand-secondary;
    &:hover {
      cursor: pointer;
      color: darken($brand-secondary, 15%);
    }
  }
  img {
    display: flex;
    margin: 0 auto;
    width: 50px;
    border-radius: 50%;
  }
  .icon-logout {
    color: $brand-secondary;
    font-size: 1.6em;
    &:hover {
      cursor: pointer;
      color: darken($brand-secondary, 15%);
    }
  }
}

#menu.extend-menu {
  transform: translateX(-5px);
  right: 0 !important;
  visibility: visible;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  app-buttons {
  }
  .texts {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 1000px;
    transform: translate(-50%);
    left: 50%;
    h2 {
      padding-bottom: 10px;
      font-weight: bold;
      width: 130px;
      text-align: center;
      margin: 0 auto;
      border-bottom: 1px solid $black-color;
    }
    p {
      margin: 0;
    }
    p:nth-child(1) {
      margin-top: 10px;
    }
  }

}
