<div id="arrow" class="arrow-pannel-show" (click)="extendMenu()" title="Ouvrir le menu">
  <span class="icon-left-arrow"></span>
</div>
<div id="menu">
  <img *ngIf="user" src="{{ user.photoURL }}" class="avatar-google" alt="Avatar google">
  <form [formGroup]="formConName" (ngSubmit)="onSubmit()">
    <span class="icon-close" (click)="closeMenu()" title="Fermer le menu"></span>
    <span class="input-qui-dechire">
      <input id="conName" class="slide-up" type="text" formControlName="conName" placeholder="Nom de mon Con"/>
      <label for="conName">Mon Con</label>
      <button class="bouton-qui-se-pousse-quand-tu-lui-demande" type="submit">OK</button>
    </span>
  </form>
  <span class="icon-logout" (click)="logout()" title="Se déconnecter"></span>
  <div class="balance-hit-heal">
    <b>Hit</b>: {{ hit }} / <b>Heal</b>: {{ heal }}
  </div>
  <div class="chose-your-avatar-my-friend">
    <ul >
      <li *ngFor="let avatar of avatars; let i = index">
        <img id="{{ avatar }}"
             class="avatar-to-choose" src="assets/images/{{avatar}}.svg"
             (click)="chosingAvatar($event)"
             [class.active]="avatar === backgroudAvatar"
        >
      </li>
    </ul>
  </div>
</div>
