@import '../scss/stylefullpage';

.counters {
  display: flex;
  height: 100%;
  align-items: baseline;
  > div {
    display: flex;
    align-items: center;
    margin-left: .8rem;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-size: .7em;
    > span {
      margin-right: .3rem;
      color: $brand-primary;
      font-size: 2.5em;
      font-weight: bold;
    }
  }

  div:first-child {
    font-size: 1em;
    span {
      font-size: 3.5em;

    }
  }
}

.conperso, .remarques {
  justify-content: flex-end;
  @include breakpoint(smartphone) {
    justify-content: center;
  }
}

.cons {
  justify-content: flex-start;
  @include breakpoint(smartphone) {
    justify-content: center;
  }
}
